@page "/"
@inherits MainComponent
@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces

<MatPaper Elevation="5" style="margin:10px;padding:10px;">
    <MatHeadline6 Style="margin:0px;">
        Expression
    </MatHeadline6>

    <div style="display:flex;margin-top:10px;">

        <div style="min-width:200px;">
            <MatTextField style="margin-right:10px;height:36px" Outlined=true
                @bind-Value="Configuration.Expression" />
        </div>

        <div style="width:100px;">
            <MatButton Label="Evaluate" Disabled="IsInProgress" Unelevated="true"
                style="margin:0px;height:100%;" OnClick="Process" />
        </div>

    </div>

    @if (EvaluationError != null)
    {
        <div>
            <p style="font-family:Arial;color:var(--mdc-theme-error)">@EvaluationError</p>
        </div>
    }
</MatPaper>

<MatPaper Elevation="5" style="margin:10px;">
    <div style="padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Evaluation Settings
        </MatHeadline6>
    </div>
    <div style="display:flex;flex-wrap:wrap;">
        <MatPaper Elevation="3" style="margin:10px;padding:10px;">
            <div>
                <MatSubtitle2 Style="margin:0px;">
                    Common Parameters
                </MatSubtitle2>
            </div>
            <div style="margin-top:10px;">
                <MatNumericUpDownField Label="Probability"
                    @bind-Value=Configuration.Probability
                    DecimalPlaces=3
                    Minimum=0 Maximum=1>
                </MatNumericUpDownField>
            </div>
            <div style="margin-top:10px;">
                <MatNumericUpDownField Label="Chart Points"
                    @bind-Value=Configuration.ChartPoints
                    DecimalPlaces=0
                    Minimum=1 Maximum=100000>
                </MatNumericUpDownField>
            </div>
        </MatPaper>
        <MatPaper Elevation="3" style="margin:10px;padding:10px;">
            <div>
                <MatCheckbox @bind-Value="Configuration.EvaluateRandomAlgebra">
                    <MatSubtitle2 Style="margin:0px;">
                        Random Algebra
                    </MatSubtitle2>
                </MatCheckbox>
            </div>
            <div style="margin-top:10px;">
                <MatNumericUpDownField Label="Samples"
                    Disabled=@(!Configuration.EvaluateRandomAlgebra)
                    @bind-Value=Configuration.Samples
                    DecimalPlaces=0
                    Minimum=1 Maximum=100000>
                </MatNumericUpDownField>
            </div>
        </MatPaper>
        <MatPaper Elevation="3" style="margin:10px;padding:10px;">
            <div>
                <MatCheckbox @bind-Value="Configuration.EvaluateMonteCarlo">
                    <MatSubtitle2 Style="margin:0px;">
                        Monte Carlo
                    </MatSubtitle2>
                </MatCheckbox>
            </div>
            <div style="margin-top:10px;">
                <MatNumericUpDownField Label="Experiments"
                    Disabled=@(!Configuration.EvaluateMonteCarlo)
                    @bind-Value=Configuration.Experiments
                    DecimalPlaces=0
                    Minimum=1 Maximum=100000000>
                </MatNumericUpDownField>
            </div>
            <div style="margin-top:10px;">
                <MatNumericUpDownField Label="Pockets"
                    Disabled=@(!Configuration.EvaluateMonteCarlo)
                    @bind-Value=Configuration.Pockets
                    DecimalPlaces=0
                    Minimum=1 Maximum=100000>
                </MatNumericUpDownField>
            </div>
        </MatPaper>
    </div>
</MatPaper>

<MatPaper Elevation="5" style="margin:10px;padding:10px;">
    <MatHeadline6 Style="margin:0px;">
        Distributions
    </MatHeadline6>
    <MatTable Items="Configuration.ExpressionArguments" ShowPaging="false"
        Style="font-family:sans-serif;width:min-content;" class="mat-elevation-z5">
        <MatTableHeader>
            <th>Argument</th>
            <th>Distribution</th>
            <th>Parameters</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Argument</td>
            <td>@context.SettingsType.Name</td>
            <td>@context.DistributionSettings</td>
            <td style="padding:0px;">
                <div style="display:flex;">
                    <MatIconButton Icon="edit" Style="margin:2px;" OnClick="() => EditExpressionArgument(context)"></MatIconButton>
                    <MatIconButton Icon="delete" Style="margin:2px;" OnClick="() => DeleteExpressionArgument(context)"></MatIconButton>
                </div>
            </td>
        </MatTableRow>
    </MatTable>
</MatPaper>

<div style="display:@(IsCalculated ? "block" : "none");">
    <MatPaper Elevation="5" style="margin:10px;padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Probability Density Function
        </MatHeadline6>
        <PlotlyChart @bind-Config="config" @bind-Layout="layout" @ref="PdfView" style="margin:5px" />
    </MatPaper>
    <MatPaper Elevation="5" style="margin:10px;padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Cumulative Distribution Function
        </MatHeadline6>
        <PlotlyChart @bind-Config="config" @bind-Layout="layout" @ref="CdfView" style="margin:5px" />
    </MatPaper>
</div>

<MatDialog @bind-IsOpen="IsDistributionEditDialogOpen">
    <MatDialogTitle>Edit Distribution</MatDialogTitle>
    <MatDialogContent>
        @if (EditedExpressionArgument != null)
        {
            <div>
                <MatTextField style="margin:6px;width:100%;" Outlined=true
                    @bind-Value="@EditedExpressionArgument.Argument" />
            </div>
            <div>
                <MatSelectItem @bind-Value="@EditedExpressionArgument.SettingsType"
                    style="margin:6px;width:100%;"
                    Items="EditedExpressionArgument.SettingTypes"
                    Outlined=true
                    Label="Distribution" />
            </div>

            @foreach (var item in EditedExpressionArgument.DistributionSettingsBindings)
            {
                <MatTextField Label="@item.Name"
                    Outlined=true
                    style="margin:6px;width:100%;"
                    @bind-Value="item.Value" />
            }
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => IsDistributionEditDialogOpen = false)">OK</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    Config config = new Config { Responsive = true };

    Layout layout = new Layout
    {
        Legend = new Plotly.Blazor.LayoutLib.Legend { Orientation = Plotly.Blazor.LayoutLib.LegendLib.OrientationEnum.H }
    };
}