@page "/"
@inherits MainComponent
@using Plotly.Blazor
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces

<MudTabs Elevation="5" Rounded="true" ApplyEffectsToContainer="true" Class="ma-4">
    <MudTabPanel Text="Evaluation">
        <MudPaper Square="true" Elevation="0" Class="d-flex flex-column gap-4 pa-4">
            <MudTextField Label="Model"
                Margin="MudBlazor.Margin.Dense" Variant="Variant.Outlined"
                @bind-Value="Configuration.Expression" />
            <MudTable Items="Configuration.ExpressionArguments" Style="width:min-content;" Dense="true" Hover="false">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Distributions</MudText>
                    <MudSpacer />
                    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" DisableElevation="true" Size="Size.Small"
                        OnClick="DistributionsDialogProvider.AddArgument"/>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Argument</MudTh>
                    <MudTh>Distribution</MudTh>
                    <MudTh>Parameters</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Argument</MudTd>
                    <MudTd>@context.SettingsType.Name</MudTd>
                    <MudTd>@context.DistributionSettings</MudTd>
                    <MudTd>
                        <div class="d-flex gap-2">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small"
                                OnClick="() => DistributionsDialogProvider.EditArgument(context)"></MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small"
                                OnClick="() => DistributionsDialogProvider.DeleteExpressionArgument(context)"></MudIconButton>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
            <MudButton Disabled="IsInProgress"
                Style="width:100px;"
                Variant="Variant.Filled" DisableElevation=true Color="Color.Primary"
                OnClick="Process">Evaluate</MudButton>

            @if (EvaluationError != null)
            {
                <MudAlert Severity="Severity.Error">@EvaluationError</MudAlert>
            }

            <MudProgressLinear Color="Color.Primary" class="@ProgressVisibility" Indeterminate="true" />
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="Settings">
        <MatPaper Elevation="5" style="margin:10px;">
            <div style="padding:10px;">
                <MatHeadline6 Style="margin:0px;">
                    Evaluation Settings
                </MatHeadline6>
            </div>
            <div style="display:flex;flex-wrap:wrap;">
                <MatPaper Elevation="3" style="margin:10px;padding:10px;">
                    <div>
                        <MatSubtitle2 Style="margin:0px;">
                            Common Parameters
                        </MatSubtitle2>
                    </div>
                    <div style="margin-top:10px;">
                        <MatNumericUpDownField Label="Probability"
                            @bind-Value=Configuration.Probability
                            DecimalPlaces=3
                            Minimum=0 Maximum=1>
                        </MatNumericUpDownField>
                    </div>
                    <div style="margin-top:10px;">
                        <MatNumericUpDownField Label="Chart Points"
                            @bind-Value=Configuration.ChartPoints
                            DecimalPlaces=0
                            Minimum=1 Maximum=100000>
                        </MatNumericUpDownField>
                    </div>
                </MatPaper>
                <MatPaper Elevation="3" style="margin:10px;padding:10px;">
                    <div>
                        <MatCheckbox @bind-Value="Configuration.EvaluateRandomAlgebra">
                            <MatSubtitle2 Style="margin:0px;">
                                Random Algebra
                            </MatSubtitle2>
                        </MatCheckbox>
                    </div>
                    <div style="margin-top:10px;">
                        <MatNumericUpDownField Label="Samples"
                            Disabled=@(!Configuration.EvaluateRandomAlgebra)
                            @bind-Value=Configuration.Samples
                            DecimalPlaces=0
                            Minimum=1 Maximum=100000>
                        </MatNumericUpDownField>
                    </div>
                </MatPaper>
                <MatPaper Elevation="3" style="margin:10px;padding:10px;">
                    <div>
                        <MatCheckbox @bind-Value="Configuration.EvaluateMonteCarlo">
                            <MatSubtitle2 Style="margin:0px;">
                                Monte Carlo
                            </MatSubtitle2>
                        </MatCheckbox>
                    </div>
                    <div style="margin-top:10px;">
                        <MatNumericUpDownField Label="Experiments"
                            Disabled=@(!Configuration.EvaluateMonteCarlo)
                            @bind-Value=Configuration.Experiments
                            DecimalPlaces=0
                            Minimum=1 Maximum=100000000>
                        </MatNumericUpDownField>
                    </div>
                    <div style="margin-top:10px;">
                        <MatNumericUpDownField Label="Pockets"
                            Disabled=@(!Configuration.EvaluateMonteCarlo)
                            @bind-Value=Configuration.Pockets
                            DecimalPlaces=0
                            Minimum=1 Maximum=100000>
                        </MatNumericUpDownField>
                    </div>
                </MatPaper>
            </div>
        </MatPaper>
    </MudTabPanel>
</MudTabs>

<div style="display:@(IsCalculated ? "block" : "none");">
    <MatPaper Elevation="5" style="margin:10px;padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Probability Density Function
        </MatHeadline6>
        <PlotlyChart @bind-Config="config" @bind-Layout="layout" @ref="PdfView" style="margin:5px" />
    </MatPaper>
    <MatPaper Elevation="5" style="margin:10px;padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Cumulative Distribution Function
        </MatHeadline6>
        <PlotlyChart @bind-Config="config" @bind-Layout="layout" @ref="CdfView" style="margin:5px" />
    </MatPaper>
    <MatPaper Elevation="5" style="margin:10px;padding:10px;">
        <MatHeadline6 Style="margin:0px;">
            Results
        </MatHeadline6>
        <MatTable Items="Results.DistributionParameters" ShowPaging="false"
            Style="font-family:sans-serif;width:min-content;" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Parameter</th>
                <th>Random Algebra</th>
                <th>Monte Carlo</th>
                <th>Ratio, %</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Name</td>
                <td>@context.RandomsAlgebra</td>
                <td>@context.MonteCarlo</td>
                <td>@context.PersentRatio</td>
            </MatTableRow>
        </MatTable>
    </MatPaper>
</div>

<MudDialog @bind-IsVisible="DistributionsDialogProvider.IsDialogOpen" Options="@editDialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Edit Distribution
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column gap-4">
            <MudTextField Variant="Variant.Outlined"
                @bind-Value="@DistributionsDialogProvider.ExpressionArgument.Argument" />
            <div>
                <MudSelect @bind-Value="@DistributionsDialogProvider.ExpressionArgument.SettingsType"
                    Variant="Variant.Outlined"
                    Label="Distribution">
                    @foreach (var item in DistributionsDialogProvider.ExpressionArgument.SettingTypes)
                    {
                        <MudSelectItem Value="@item">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>

            @foreach (var item in DistributionsDialogProvider.ExpressionArgument.DistributionSettingsBindings)
            {
                <MudTextField Label="@item.Name" Variant="Variant.Outlined"
                    @bind-Value="item.Value" />
            }
        </div>
    </DialogContent>
    <DialogActions>
        <div class="d-flex gap-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation=true
                OnClick="DistributionsDialogProvider.DialogOK">OK</MudButton>

            @if (DistributionsDialogProvider.DialogMode == DialogMode.Add)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation=true
                    OnClick="DistributionsDialogProvider.DialogCancel">Cancel</MudButton>
            }
        </div>
    </DialogActions>
</MudDialog>

@code {
    DialogOptions editDialogOptions = new() { FullWidth = true };
    Config config = new Config { Responsive = true };

    Layout layout = new Layout
    {
        Legend = new Plotly.Blazor.LayoutLib.Legend { Orientation = Plotly.Blazor.LayoutLib.LegendLib.OrientationEnum.H }
    };
}